<div class="modal-header">
  <h5>{{this.Durumu}}</h5>
</div>
<div class="modal-body">
  <form [formGroup]="RaporDetayData">
    <div class="row">

      <table class="table-striped">
        <tr>
          <td>TalepTarihi</td>

          <td>Konum</td>
          <td>Durumu</td>

          <td>Dosyapath</td>
        </tr>

        <tr *ngFor="let d of data">
          <td>{{d.talepTarihi}}</td>

          <td>{{d.konum}}</td>
          <td *ngIf="d.durumu==1">Hazırlanıyor</td>
          <td *ngIf="d.durumu==2">Tamamlandı</td>
          <td> <a *ngIf="d.dosyapath" href="{{d.dosyapath}}" class="btn btn-danger">Rapor Dosyasını İndir</a></td>
        </tr>
      </table>
    </div>
  </form>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
