<div class="modal-header">
  <h5>{{this.kisi}}</h5>
</div>
<div class="modal-body">
  <form [formGroup]="KisiDetayData">
    <div class="row">

      <table class="">
        <tr>
          <td>Phone</td>
          <td>
            <!-- <input type="text" formControlName="id"> -->
            <input type="text" class="form-control" formControlName="telefonNo">
            <div *ngIf="submitted && KisiDetayData.controls.telefonNo.errors" class="text-danger">
              <div *ngIf="KisiDetayData.controls.telefonNo.errors.required">Phone is required</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Mail</td>
          <td>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="submitted && KisiDetayData.controls.email.errors" class="text-danger">
              <div *ngIf="KisiDetayData.controls.email.errors.required">Mail is required</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Location</td>
          <td>
            <input type="text" class="form-control" formControlName="konum">
            <div *ngIf="submitted && KisiDetayData.controls.konum.errors" class="text-danger">
              <div *ngIf="KisiDetayData.controls.konum.errors.required">Location is required</div>
            </div>

          </td>
        </tr>
        <tr>
          <td>Detail</td>
          <td>
            <input type="text" class="form-control" formControlName="icerik">
            <div *ngIf="submitted && KisiDetayData.controls.icerik.errors" class="text-danger">
              <div *ngIf="KisiDetayData.controls.icerik.errors.required">Detail is required</div>
            </div>

          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button (click)="Save()" type="submit" class="btn btn-success">New Save</button>
            <button (click)="Update()" *ngIf="this.id" class="btn btn-warning">Update</button>

          </td>
        </tr>

      </table>
    </div>


    <div class="row">

      <table class="table-striped">
        <tr>
          <td>Phone</td>
          <td>Mail</td>

          <td>Location</td>
          <td>Detail</td>

          <td>Edit</td>
          <td>Delete</td>
        </tr>

        <tr *ngFor="let d of data">
          <td>{{d.telefonNo}}</td>
          <td>{{d.email}}</td>

          <td>{{d.konum}}</td>
          <td>{{d.icerik}}</td>

          <td><a (click)="EditData(d)" class="btn btn-warning">Edit</a></td>
          <td><a (click)="deleteData(d.id)" class="btn btn-warning">Delete</a></td>
        </tr>
      </table>
    </div>
  </form>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
